/* CSS for form input*/

picture {
    border-radius: 2px;
}

.contact-wrapper {
    margin-left: 30px;
}

form {
    margin-top: 50px;
}

label {
    font-weight: 600;
}

input, select, textarea {
    width: 100%;
    border: 1px solid #4b404a;
    background-color: #93837B;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
    resize: vertical;
    color: white;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 0.05rem;
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: white;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 0.05rem;
}

input:focus, select:focus, textarea:focus {
    outline: 3px solid #554853;
    color: white;
    letter-spacing: 0.05rem;
    font-family: 'Zilla Slab', serif;
}
  
input[type=submit] {
    background-color: #6e626c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #7e737d;
}

@media only screen and (max-width: 768px) {

    .contact-wrapper {
        margin-left: 0px;
        margin-top: 40px;
    }
    
}
