@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 50px;
    color: wheat;
}

body {
    background-color: #2B2720;
    font-family: 'Zilla Slab', serif;
}

img {
    height: 42px;
    width: auto;
    margin-top: 2px;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    margin-top: 50px;
    color: #A8968D;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12% 0 12%;
    box-sizing: border-box;
}

.line {
    margin: 0 auto;
    padding: 0 12% 0 12%; 
    border-bottom: 1px solid #A8968D;
    margin-bottom: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #A8968D;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
}

.nav-link{
    font-size: 24px;
    color: #A8968D;
}

.nav-link:hover{
    /* TODO */
    color: #4d4daa;
}

main img {
    display: block;
    width: 100%;
    height: 330px;
}

@media only screen and (max-width: 834px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
        margin-top:-30px;
    }

    .nav-item {
        margin: 30px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 408px) {

    .container {
        padding: 0 2% 0 2%;
    }
    
}
